<header>
    <div class="header-content">
      <a href="/">
        <img src="./img/LOGO.png" alt="logo" class="my-logo" />
      </a>

      <div class="search-container">
        <img src="./img/gala_search.png" />
        <input type="text" placeholder="Search related content" />
      </div>
      <br />
      <div class="search-and-buttons">
        <button>Get answers</button>
        <img src="./img/Line 9.png" width="2rem" height="60rem" />
        <button class="highlight">Start Consultation</button>
      </div>
    </div                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          >
</header>