<nav>
    <ul> 

        <li><a href="/services">Our Services</a> <i class="fa-solid fa-angle-down"></i></li>
        <li><a href="/error">Our Physicians</a> <i class="fa-solid fa-angle-down"></i></li>
        <li><a href="/error">Health Information for Patients</a> <i class="fa-solid fa-angle-down"></i></li>
        <li><a href="/error">About Us</a> <i class="fa-solid fa-angle-down"></i></li>
        <li><a href="/error">FAQs</a> <i class="fa-solid fa-angle-down"></i></li>
        <li><a href="/contact">Need Help?</a> <i class="fa-solid fa-angle-down"></i></li> 
    </ul>
</nav>