<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pro-Health</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <!-- this is for nav tuggle  -->
    <section class="tuggle">
      <i class="fa-solid fa-bars"></i>
    </section>

    <!-- all about header  -->
      <%- include("./partials/header") %>
    

    <!-- all about nav  -->
    <%- include("./partials/nav") %>
    

    <!-- all about hero  -->
    <section class="hero">
      <div class="hero-content">
        <div class="h2">
          <h2>
            Bringing Healthcare <br />
            Home to you
          </h2>
        </div>
        <img
          src="./img/Frame 278.png"
          class="hero-frame"
          width="100%"
        />
        <br />
        <br />

        <div class="join">
          <p>
            Our team of certified doctors and specialists is just a click away,
            <br />
            ready to provide personalized medical advice and treatment plans.
            <br />
            See a Physician in less than 48hrs.
          </p>
          <br />
          <div class="hero-buttons">
            <button class="highlight">Book Appointment</button>
            <button>Get Instant Help</button>
          </div>
        </div>
      </div>
      <img
        src="./img/Frame 155.png"
        alt="Family"
        class="hero-image"
      />
    </section>

    <section id="join-section">
      <section class="services">
        <div class="swp">
          <h2>Services we Provide</h2>
        </div>
        <div class="services-content">
          <img
            src="./img/Hero Container Service Page.png"
            class="Doctors"
          />
          <img
            src="./img/Hero Container Service Page444.png"
            class="doctor"
          />
          <div class="services-text">
            <p>
              Healthcare should be available when you need it most. Thats why
              our telemedicine services are accessible 24/7. Whether you have a
              medical concern in the middle of the night or require a
              consultation during a busy workday, our platform ensures that you
              can connect with a healthcare provider at any time. Your health
              and convenience are our top priorities.
            </p>
            <br />
            <br />
            <div class="btn-content">
              <button>Get answers</button>
              <button class="highlight">Start Consultation</button>
            </div>
          </div>
        </div>
      </section>

      <section class="cards">
        <div class="card">
          <img src="./img/Frame 162 (2).png" />
          <h3>Health Consultation</h3>
          <p>
            Your mental well-being is just as important as your physical health.
            Connect with licensed therapists and counselors for confidential and
            compassionate care.
          </p>
          <button class="highlight">Start Consultation</button>
        </div>
        <div class="card">
          <img src="./img/Frame 162 (1).png" />
          <h3>Mental Health Services</h3>
          <p>
            Your mental well-being is just as important as your physical health.
            Connect with licensed therapists and counselors for confidential and
            compassionate care.
          </p>
          <button class="highlight">Get Instant Help</button>
        </div>
        <div class="card">
          <img src="./img/Frame 162.png" />
          <h3>Emergency Services</h3>
          <p>
            Your mental well-being is just as important as your physical health.
            Connect with licensed therapists and counselors for confidential and
            compassionate care.
          </p>
          <button class="highlight">Get Instant Help</button>
        </div>
      </section>
    </section>

    -

    <section class="how-it-works">
      <div class="how-it-work">
        <h1>How It Works</h1>
      </div>

      <section id="steps">
        <div class="step">
          <h2>Step 1:</h2>
          <br />
          <h3>Sign Up or Log In</h3>
          <p>
            If you're a new user, start by signing up for an account on our
            platform. Provide your basic information and create a secure valid
            password. If you're already registered, simply log in with your
            credentials to access your dashboard .
          </p>
          <br />
          <br />
          <br />
        </div>
        <div class="step">
          <h2>Step 2:</h2>
          <br />
          <h3>Choose Your Doctor and Appointment Time</h3>
          <p>
            Click on the “Start Consultation Button” and select the type of
            consultation you need. Whether you require a general check-up,
            specialist consultation, or mental health support, our platform
            offers a variety of services to meet your healthcare needs.
          </p>
          <br />
          <br />
          <br />
        </div>
        <div class="step">
          <h2>Step 3:</h2>
          <br />
          <h3>Choose Your Doctor and Appointment Time</h3>
          <p>
            Select a convenient date and time for your consultation from the
            available slots. Confirm your appointment and receive a notification
            with the details. At the scheduled time, log in to your account to
            connect with your healthcare provider for your virtual visit.
          </p>
        </div>
      </section>
    </section>

    <section id="mental-health">
      <div class="img-content">
        <img
          src="./img/minimalistic-science-banner-with-stethoscope 222.png"
          width="105%"
        />
      </div>
      <div class="health-contain">
        <h2>
          Your Mental Health is <br />
          our Top Priority
        </h2>
        <br />
        <p>
          Your mental well-being is just as important as your physical health.
          <br />
          Connect with licensed therapists and counselors for confidential and
          compassionate care.
        </p>
        <button>
          Get Instant Help
          <img src="./img/Group.png" alt="Help Icon" width="25" />
        </button>
      </div>
    </section>

    <section id="about-us">
      <h2>About Us</h2>
      <img src="./img/Frame 173.png" alt="Team" />
      <h3>Our Mission</h3>
      <p>
        Our mission is to change healthcare by providing accessible, convenient,
        and high-quality medical services to individuals and families worldwide.
        believe that everyone deserves access to exceptional healthcare,
        regardless of their location or circumstances. Your Family, loved ones,
        and everyone around you can have access to quality health care no matter
        what. Our goal is to make healthcare more inclusive, ensuring that you
        receive the best care possible from the comfort of your home. Our one
        Voice is <strong>“HOW CAN WE HELP?”</strong>
      </p>
    </section>
    <br />

    <div class="join-section2">
      <img class="join-section5-img" src="./img/Frame 178.png" />
      <section>
        <img
          class="join-section2-img"
          src="./img/Frame 178.png"
          alt="Doctors"
          width="115%"
        />
      </section>

      <div class="hold">
        <section id="who-we-are">
          <h2>Who We Are</h2>
          <p>
            We are a dedicated team of healthcare professionals, technologists,
            and innovators committed to transforming the way healthcare is
            delivered. Our platform connects patients with certified doctors,
            specialists, and mental health professionals through secure and
            user-friendly virtual consultations. With a focus on patient-centric
            care, we strive to offer a seamless and efficient healthcare
            experience.
          </p>

          <div class="btn4">
            <button class="light">Get Answers</button>
            <button class="highlight">Start Consultation</button>
          </div>
          <br />
          <br />
        </section>

        <section id="offer">
          <h2>What we Offer</h2>
          <p>
            <img src="./img/Frame 182.png" /><strong
              >24/7 Patient-Centered Care</strong
            >
          </p>
          <p>
            <img src="./img/Frame 182 (1).png" /><strong
              >24/7 Privacy and Security</strong
            >
          </p>
          <p>
            <img src="./img/Frame 182 (2).png" /><strong
              >24/7 Consultant Accessibility</strong
            >
          </p>
          <p>
            <img src="./img/Frame 182 (1).png" /><strong
              >24/7 Innovation With Technology</strong
            >
          </p>
        </section>
      </div>
    </div>

    <section class="patient">
      <div class="patient-content">
        <div class="content-hold">
          <h2>Patient Reviews</h2>
          <p>
            We have successfully Treated over 3k patients in the last 2 years.
            <br />
            Here are some success stories about our treatment
          </p>
        </div>

        <div class="badge-content">
          <img
            src="./img/dashicons_awards.png"
            alt="badge"
            width="40px"
            height="40px"
          />
          <h5>Certified By NHIS Ghana</h5>
        </div>
      </div>
    </section>

    <!-- ALL ABOUT carousel  -->
    <div class="container3">
      <h2>Health Article</h2>
      <section class="new-articles">
        <div class="new-carousel-item" id="new-item-0">
          <div class="new-review-card">
            <div class="new-profile">
              <img
                class="new-patient-1"
                src="./img/Frame 191.png"
                alt="Patient 1"
              />
              <div class="new-flex-all">
                <h4>Patrick Cole</h4>
                <h3>Treated for Chest Pain</h3>
                <br />
                <div class="new-stars">
                  <img src="./img/Frame 196.png" />
                </div>
              </div>
            </div>
            <p>
              The Prohealth is user-friendly and easy to navigate. My virtual
              appointment was on time, and the doctor was very thorough in
              explaining my diagnosis and treatment options. I felt reassured
              and well taken care of. This service is perfect for busy
              individuals who can't always make it to a physical clinic.
            </p>
          </div>
        </div>

        <div class="new-carousel-item" id="new-item-1">
          <div class="new-review-card">
            <div class="new-profile">
              <img
                class="new-patient-1"
                src="./img/Frame 191.png"
                alt="Patient 2"
              />
              <div class="new-flex-all">
                <h4>Jane Doe</h4>
                <h3>Recovered from Back Pain</h3>
                <br />
                <div class="new-stars">
                  <img src="./img/Frame 196.png" />
                </div>
              </div>
            </div>
            <p>
              The Prohealth is user-friendly and easy to navigate. My virtual
              appointment was on time, and the doctor was very thorough in
              explaining my diagnosis and treatment options. I felt reassured
              and well taken care of. This service is perfect for busy
              individuals who can't always make it to a physical clinic.
            </p>
          </div>
        </div>

        <div class="new-carousel-item" id="new-item-2">
          <div class="new-review-card">
            <div class="new-profile">
              <img
                class="new-patient-1"
                src="./img/Frame 191.png"
                alt="Patient 3"
              />
              <div class="new-flex-all">
                <h4>Michael Smith</h4>
                <h3>Consulted for Skin Issues</h3>
                <br />
                <div class="new-stars">
                  <img src="./img/Frame 196.png" />
                </div>
              </div>
            </div>
            <p>
              The Prohealth is user-friendly and easy to navigate. My virtual
              appointment was on time, and the doctor was very thorough in
              explaining my diagnosis and treatment options. I felt reassured
              and well taken care of. This service is perfect for busy
              individuals who can't always make it to a physical clinic.
            </p>
          </div>
        </div>

        <div class="new-carousel-item" id="new-item-3">
          <div class="new-review-card">
            <div class="new-profile">
              <img
                class="new-patient-1"
                src="./img/Frame 191.png"
                alt="Patient 4"
              />
              <div class="new-flex-all">
                <h4>Emily Johnson</h4>
                <h3>Treated for Allergies</h3>
                <br />
                <div class="new-stars">
                  <img src="./img/Frame 196.png" />
                </div>
              </div>
            </div>
            <p>
              The Prohealth is user-friendly and easy to navigate. My virtual
              appointment was on time, and the doctor was very thorough in
              explaining my diagnosis and treatment options. I felt reassured
              and well taken care of. This service is perfect for busy
              individuals who can't always make it to a physical clinic.
            </p>
          </div>
        </div>

        <div class="new-carousel-item" id="new-item-4">
          <div class="new-review-card">
            <div class="new-profile">
              <img
                class="new-patient-1"
                src="./img/Frame 191.png"
                alt="Patient 5"
              />
              <div class="new-flex-all">
                <h4>Alice Brown</h4>
                <h3>Addressed Digestive Issues</h3>
                <br />
                <div class="new-stars">
                  <img src="./img/Frame 196.png" />
                </div>
              </div>
            </div>
            <p>
              The Prohealth is user-friendly and easy to navigate. My virtual
              appointment was on time, and the doctor was very thorough in
              explaining my diagnosis and treatment options. I felt reassured
              and well taken care of. This service is perfect for busy
              individuals who can't always make it to a physical clinic.
            </p>
          </div>
        </div>

        <div class="new-carousel-item" id="new-item-5">
          <div class="new-review-card">
            <div class="new-profile">
              <img
                class="new-patient-1"
                src="./img/Frame 191.png"
                alt="Patient 6"
              />
              <div class="new-flex-all">
                <h4>John Doe</h4>
                <h3>Managed Chronic Condition</h3>
                <br />
                <div class="new-stars">
                  <img src="./img/Frame 196.png" />
                </div>
              </div>
            </div>
            <p>
              The Prohealth is user-friendly and easy to navigate. My virtual
              appointment was on time, and the doctor was very thorough in
              explaining my diagnosis and treatment options. I felt reassured
              and well taken care of. This service is perfect for busy
              individuals who can't always make it to a physical clinic.
            </p>
          </div>
        </div>
      </section>

      <div class="new-my-arrows">
        <img
          src="./img/arrow-right-circle.png"
          width="60px"
          height="60px"
          class="new-left-arrow"
          onclick="swapNewLeft()"
        />
        <img
          src="./img/Subtract.png"
          width="50px"
          height="50px"
          class="new-right-arrow"
          onclick="swapNewRight()"
        />
      </div>
    </div>

    <!-- THIS IS FOR carousel FOR SMALL SCREENS  -->

    <div class="carousel-container">
      <div class="new-carousel-item" id="new-item-5">
        <div class="new-review-card">
          <div class="new-profile">
            <img
              class="new-patient-1"
              src="./img/Frame 281 (1).png"
              alt="Patient 6"
            />
            <div class="new-flex-all">
              <h4>John Doe</h4>
              <h3>Managed Chronic Condition</h3>
              <br />
              <div class="new-stars">
                <img src="./img/Frame 196.png" />
              </div>
            </div>
          </div>
          <p>
            The Prohealth is user-friendly and easy to navigate. My virtual
            appointment was on time, and the doctor was very thorough in
            explaining my diagnosis and treatment options. I felt reassured and
            well taken care of. This service is perfect for busy individuals who
            can't always make it to a physical clinic.
          </p>
        </div>
      </div>

      <!-- View All Button -->
      <button class="view-all-btn" onclick="showAllItems()">View All</button>

      <!-- Hidden items -->
      <div class="hidden-items" style="display: none">
        <!-- Repeat the above item 5 more times -->
        <div class="new-carousel-item" id="new-item-5">
          <div class="new-review-card">
            <div class="new-profile">
              <img
                class="new-patient-1"
                src="./img/Frame 281 (1).png"
                alt="Patient 6"
              />
              <div class="new-flex-all">
                <h4>John Doe</h4>
                <h3>Managed Chronic Condition</h3>
                <br />
                <div class="new-stars">
                  <img src="./img/Frame 196.png" />
                </div>
              </div>
            </div>
            <p>
              The Prohealth is user-friendly and easy to navigate. My virtual
              appointment was on time, and the doctor was very thorough in
              explaining my diagnosis and treatment options. I felt reassured
              and well taken care of. This service is perfect for busy
              individuals who can't always make it to a physical clinic.
            </p>
          </div>
        </div>

        <div class="new-carousel-item" id="new-item-5">
          <div class="new-review-card">
            <div class="new-profile">
              <img
                class="new-patient-1"
                src="./img/Frame 281 (1).png"
                alt="Patient 6"
              />
              <div class="new-flex-all">
                <h4>John Doe</h4>
                <h3>Managed Chronic Condition</h3>
                <br />
                <div class="new-stars">
                  <img src="./img/Frame 196.png" />
                </div>
              </div>
            </div>
            <p>
              The Prohealth is user-friendly and easy to navigate. My virtual
              appointment was on time, and the doctor was very thorough in
              explaining my diagnosis and treatment options. I felt reassured
              and well taken care of. This service is perfect for busy
              individuals who can't always make it to a physical clinic.
            </p>
          </div>
        </div>

        <div class="new-carousel-item" id="new-item-5">
          <div class="new-review-card">
            <div class="new-profile">
              <img
                class="new-patient-1"
                src="./img/Frame 281 (1).png"
                alt="Patient 6"
              />
              <div class="new-flex-all">
                <h4>John Doe</h4>
                <h3>Managed Chronic Condition</h3>
                <br />
                <div class="new-stars">
                  <img src="./img/Frame 196.png" />
                </div>
              </div>
            </div>
            <p>
              The Prohealth is user-friendly and easy to navigate. My virtual
              appointment was on time, and the doctor was very thorough in
              explaining my diagnosis and treatment options. I felt reassured
              and well taken care of. This service is perfect for busy
              individuals who can't always make it to a physical clinic.
            </p>
          </div>
        </div>

        <div class="new-carousel-item" id="new-item-5">
          <div class="new-review-card">
            <div class="new-profile">
              <img
                class="new-patient-1"
                src="./img/Frame 281 (1).png"
                alt="Patient 6"
              />
              <div class="new-flex-all">
                <h4>John Doe</h4>
                <h3>Managed Chronic Condition</h3>
                <br />
                <div class="new-stars">
                  <img src="./img/Frame 196.png" />
                </div>
              </div>
            </div>
            <p>
              The Prohealth is user-friendly and easy to navigate. My virtual
              appointment was on time, and the doctor was very thorough in
              explaining my diagnosis and treatment options. I felt reassured
              and well taken care of. This service is perfect for busy
              individuals who can't always make it to a physical clinic.
            </p>
          </div>
        </div>

        <div class="new-carousel-item" id="new-item-5">
          <div class="new-review-card">
            <div class="new-profile">
              <img
                class="new-patient-1"
                src="./img/Frame 281 (1).png"
                alt="Patient 6"
              />
              <div class="new-flex-all">
                <h4>John Doe</h4>
                <h3>Managed Chronic Condition</h3>
                <br />
                <div class="new-stars">
                  <img src="./img/Frame 196.png" />
                </div>
              </div>
            </div>
            <p>
              The Prohealth is user-friendly and easy to navigate. My virtual
              appointment was on time, and the doctor was very thorough in
              explaining my diagnosis and treatment options. I felt reassured
              and well taken care of. This service is perfect for busy
              individuals who can't always make it to a physical clinic.
            </p>
          </div>
        </div>

        <!-- Close Button -->
        <button class="close-btn" onclick="hideAllItems()">Close All</button>
      </div>
    </div>

    <!--  ALL ABOUT Wellness Article for You -->
    <div class="container4">
      <h2>Health Article</h2>
      <section class="articles">
        <div class="content1 article">
          <img
            src="./img/Frame 290 (1).png"
            alt="Mental Health and Wellness"
          />
          <h3>Mental Health and Wellness: Strategies for a Balanced Life</h3>
          <p>
            Mental health is as important as physical health for overall
            well-being. Managing stress, practicing mindfulness, and seeking
            professional help when needed are key strategies for maintaining
            mental wellness...
          </p>
          <div class="flex-img">
            <a href="#"
              >Read more
              <img src="./img/Group.png" width="30" height="50"
            /></a>
          </div>
        </div>
        <div class="content2 article">
          <img src="./img/Frame 205.png" alt="Nutrition" />
          <h3>
            Nutrition: The Key to Optimal <br />
            Health
          </h3>
          <p>
            Mental health is as important as physical health for overall
            well-being. Managing stress, practicing mindfulness, and seeking
            professional help when needed are key strategies for maintaining
            mental wellness...
          </p>
          <div class="flex-img">
            <a href="#"
              >Read more
              <img src="./img/Group.png" width="30" height="50"
            /></a>
          </div>
        </div>
        <div class="content3 article">
          <img
            src="./img/Frame 205 (1).png"
            alt="Mental Health and Wellness"
          />
          <h3>Mental Health and Wellness: Strategies for a Balanced Life</h3>
          <p>
            Mental health is as important as physical health for overall
            well-being. Managing stress, practicing mindfulness, and seeking
            professional help when needed are key strategies for maintaining
            mental wellness...
          </p>
          <div class="flex-img">
            <a href="#"
              >Read more
              <img src="./img/Group.png" width="30" height="50"
            /></a>
          </div>
        </div>
        <div class="content3 article">
          <img
            src="./img/Frame 290.png"
            alt="Mental Health and Wellness"
          />
          <h3>Nutrition: The Key to Optimal</h3>
          <p>
            Mental health is as important as physical health for overall
            well-being. Managing stress, practicing mindfulness, and seeking
            professional help when needed are key strategies for maintaining
            mental wellness...
          </p>
          <div class="flex-img">
            <a href="#"
              >Read more
              <img src="./img/Group.png" width="30" height="50"
            /></a>
          </div>
        </div>
        <div class="content3 article">
          <img
            src="./img/Frame 290 (2).png"
            alt="Mental Health and Wellness"
          />
          <h3>Mental Health and Wellness: Strategies for a Balanced Life</h3>
          <p>
            Mental health is as important as physical health for overall
            well-being. Managing stress, practicing mindfulness, and seeking
            professional help when needed are key strategies for maintaining
            mental wellness...
          </p>
          <div class="flex-img">
            <a href="#"
              >Read more
              <img src="./img/Group.png" width="30" height="50"
            /></a>
          </div>
        </div>
        <div class="content3 article">
          <img
            src="./img/Frame 205 (2).png"
            alt="Mental Health and Wellness"
          />
          <h3>Nutrition: The Key to Optimal</h3>
          <p>
            Mental health is as important as physical health for overall
            well-being. Managing stress, practicing mindfulness, and seeking
            professional help when needed are key strategies for maintaining
            mental wellness...
          </p>
          <div class="flex-img">
            <a href="#"
              >Read more
              <img src="./img/Group.png" width="30" height="50"
            /></a>
          </div>
        </div>
      </section>
    </div>

    <div class="my-arrows">
      <img
        src="./img/arrow-right-circle.png"
        width="60px"
        height="60px"
        class="left-arrow"
        onclick="swapLeft()"
      />
      <img
        src="./img/Subtract.png"
        width="50px"
        height="50px"
        class="right-arrow"
        onclick="swapRight()"
      />
    </div>

    <!--  ALL ABOUT Wellness Article for SMALL SCRENS -->

    <div class="health-container">
      <h2>Health Article</h2>
      <section class="health-articles">
        <div class="article-item article-first1">
          <img
            src="./img/Frame 290 (1).png"
            alt="Mental Health and Wellness"
          />
          <h3>Mental Health and Wellness: Strategies for a Balanced Life</h3>
          <p>
            Mental health is as important as physical health for overall
            well-being. Managing stress, practicing mindfulness, and seeking
            professional help when needed are key strategies for maintaining
            mental wellness...
          </p>
          <div class="link-container">
            <a href="#"
              >Read more
              <img src="./img/Group.png" width="30" height="50"
            /></a>
          </div>
        </div>

        <div class="article-item article-first">
          <img
            src="./img/Frame 290.png"
            alt="Mental Health and Wellness"
          />
          <h3>Mental Health and Wellness: Strategies for a Balanced Life</h3>
          <p>
            Mental health is as important as physical health for overall
            well-being. Managing stress, practicing mindfulness, and seeking
            professional help when needed are key strategies for maintaining
            mental wellness...
          </p>
          <div class="link-container">
            <a href="#"
              >Read more
              <img src="./img/Group.png" width="30" height="50"
            /></a>
          </div>
        </div>

        <div class="article-item article-first">
          <img
            src="./img/Frame 290 (2).png"
            alt="Mental Health and Wellness"
          />
          <h3>Mental Health and Wellness: Strategies for a Balanced Life</h3>
          <p>
            Mental health is as important as physical health for overall
            well-being. Managing stress, practicing mindfulness, and seeking
            professional help when needed are key strategies for maintaining
            mental wellness...
          </p>
          <div class="link-container">
            <a href="#"
              >Read more
              <img src="./img/Group.png" width="30" height="50"
            /></a>
          </div>
        </div>

        <!-- Repeat other articles here as before, changing class names accordingly -->
      </section>
      <div class="toggle-buttons">
        <button id="showAllBtn">View All</button>
        <button id="hideAllBtn" style="display: none">Close All</button>
      </div>
    </div>


    <!-- ALL ABOUT FOOTER  -->

    <%- include("./partials/footer") %>

    <script
      src="https://kit.fontawesome.com/b3fa93e021.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/home.js"></script>
  </body>
</html>
